<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:object="${staff}">
    <div hidden>
        <label>ID</label>
        <input type="text" th:field="*{id}"/>
    </div>
    <br>
    <div>
        <label>Employee Code</label>
        <input type="text" th:field="*{code}"/>
    </div>
    <br>
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <br>
    <div>
        <label>Age</label>
        <input type="text" th:field="*{age}"/>
    </div>
    <br>
    <div>
        <label>Salary</label>
        <input type="text" th:field="*{salary}"/>
    </div>
    <br>
    <div>
        <label>Branch</label>
        <input type="text" th:field="*{branch.name}"/>
    </div>
    <br>
</form>

<a th:href="@{/staffs}"></a>

</body>
</html>